<!-- side  start****************************************************** -->
<div class="coms-layout-aside">
    <div class="aside-unfold"><i class="iconfont f18">&#xe6d4;</i></div>
    <div class="aside-menu-scroll">
        <ul class="aside-menu">
            <li class="treeview active">
                <a href="javascript:void(0)" data-tip="榜单管理">
                    <i class="iconfont f14">&#xe65d;</i>
                    <span class="txt">榜单管理</span>
                    <span class="more"></span> 
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="#"><span class="fl">&nbsp;&nbsp;&nbsp;&nbsp;</span><i class="iconfont f14"></i>榜单管理1-1</a>
                    </li>
                    <li class="treeview active">
                        <a href="#"><span class="fl">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <i class="iconfont f14">&#xe65d;</i>
                            <span class="txt">榜单管理1-2</span>
                            <span class="more"></span> 
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#"><span class="fl">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><i class="iconfont f14">&#xe65d;</i>榜单管理1-2-1</a></li>
                            <li><a href="#"><span class="fl">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><i class="iconfont f14">&#xe65d;</i>榜单管理1-2-2</a></li>
                            <li><a href="#"><span class="fl">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><i class="iconfont f14">&#xe65d;</i>榜单管理1-2-3</a></li>
                            <li><a href="#"><span class="fl">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><i class="iconfont f14">&#xe65d;</i>榜单管理1-2-4</a></li>
                        </ul>
                    </li>
                    <li><a href="#"><span class="fl">&nbsp;&nbsp;&nbsp;&nbsp;</span><i class="iconfont f14">&#xe65d;</i>榜单管理1-3</a></li>
                    <li><a href="#"><span class="fl">&nbsp;&nbsp;&nbsp;&nbsp;</span><i class="iconfont f14">&#xe65d;</i>榜单管理1-4</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- side  end****************************************************** -->